<h1 id="title">{{#link-to "index"}}Kevin CI{{/link-to}}</h1>

{{outlet}}

{{#link-to "index"}}index{{/link-to}}
{{#link-to "projects"}}projects{{/link-to}}
<a href="https://github.com/SFTtech/kevin">sources</a>
{{#link-to "about"}}about{{/link-to}}
