<h2>Projects</h2>

<p>List of registered projects</p>

<table>
	<tr><td>Name</td><td>State</td></tr>
	{{#each model as |project|}}
		{{project-entry project=project}}
	{{/each}}
</table>


{{outlet}}
