# example control file
# syntax similar to makefiles

# stepname: other-stepname other-stepname-that-must-suceed-before bla bla
#     - optional rule setup stuff, e.g.:
#     - env: variable=value mom="really fat"  # set environment variables
#     - hidden                                # hide that rule from all output
#     - output: "some/file/thats/copied/out/to/static/output/folder"
#     - output: "or/some/directory/to/send"
#     echo "some command executed in sh"
#     echo "if one command fails, the step will fail"
#     echo "it fails when returncode != 0"

# the steps are executed in order.
# any step with no more pending dependencies is executed.
# if multiple are ready, the first in the order will be run first.

tamale:
	- env: STUFF="hot hot"
	echo "do you like tamale?"
	sleep 1
	echo "$STUFF tamale?"
	sleep 2

sudo:
	- hidden
	sudo echo "i got root!"

cpuinfo: tamale sudo
	echo awsum vm:
	cat /proc/cpuinfo

great_success: cpuinfo
	echo "raus raus raus, die nyan-katze"

	echo "now, copy this file in your project and modify it!"
