# configuration for a falk vm provider

[falk]
name = test-falk
control_socket = /run/kevin/falk
control_socket_permissions = 770
#control_socket_group = kevin

# range of ports where VMs will listen for SSH
vm_ports = [7888,8000]


# this is a VM provided by this falk:
[some-random-vm-id]

# VM name, which is requested by a job of some project.
name = machine-which-the-job-requests

# VM type, see falk/vm/ for supported backends
type = qemu

# user used for ssh login
ssh_user = chantal

# public key of the VM so we can verify we connected to the right one
ssh_key = ssh-ed25519 MY /etc/ssh/ssh_host_ed25519_key.pub CONTENT

# image that you created
base_image = /path/to/permanent/diskimage.qcow2

# image that will be stored for copy-on-write data
# the path will be suffixed with .someid for each parallel VM run
overlay_image = /tmp/kevin-vm-tmp.img

# invocation
command = qemu-system-x86_64 -machine type=q35,accel=kvm -cpu host -smp 2 -m 2G -drive file={IMAGENAME},if=virtio,format=qcow2 -balloon virtio -nographic -net nic,model=virtio -net user,hostfwd=tcp:127.0.0.1:{SSHPORT}-:22
