[Unit]
Description=Justin machine provider for Kevin
After=network.target

[Service]
Type=simple
User=justin
ExecStart=/usr/bin/env python3 -u -m justin
Restart=on-failure

[Install]
WantedBy=multi-user.target
