# kevin ci main config file

[kevin]
name = kevin-ci
max_jobs_queued = 50
max_jobs_running = 2

[projects]
config_folder = /etc/kevin/projects
output_folder = /your/writable/static/web/folder/served/below

# the internet interaction:
[web]
# url prefix for build output stuff
static_url = http://your.kevin.host/output_folder/statically/

# url prefix for build status links
mandy_url = http://your.kevin.host/mandy/

# kevin's web worker will listen on that port
dyn_port = 7777

# set those to the host/port where mandy can reach kevin
# if kevin is behind a proxy, set the values to reach that proxy
dyn_frontend_host = your.kevin.host
dyn_frontend_port = 7777
dyn_frontend_ssl = false

# configure available falk instances
# these are programs running on some machine to provide and launch VMs
[falk]

# chose any name for a falk you wanna register here
#some_name = how-can-it-be-reached

# when falk is running on the same physical machine:
#lol_unix_falk = unix://me@/run/kevin/falk

# reuse your known hosts file
#lol_ssh_falk_keyfile = ssh://yourmom@your.falk.host:22 = ~/.ssh/known_hosts

# specify public key directly
#lol_ssh_falk_direct = ssh://yourdad@your.falk.host:22 = ssh-rsa ROFLOLKEY...
