# kevin project config.
# enables and configures kevin features
#
# each [section] configures a module
# to have multiple instances of the same module,
# the module name is suffixed with .0, .1, ...
# e.g. to have multiple compile jobs (maybe on different falk machines)

[project]
# general project configuration
name = murrica-freedom-simulator-9001
job_timeout = 10m
job_silence_timeout = 5min
job_max_output = 100MiB

# name of the build job task configuration file within the repo
job_desc_file = kevinfile


[github_webhook]
# github delivers an authenticated captain hook to kevin
hooksecret = roflsharedsecret
# these repos are allowed to send captain webhooks
repos = yourmom/repo, yourdad/somerepo
# kevin can be controlled through github label values.
# control labels are automatically removed upon acceptance only
# if there's a suitable [github_status] which has permissions.
# comment this to disable.
ctrl_labels_rebuild = kevin-rebuild-pl0x

[github_status]
# used to display the progress status on github
# create that access token for a github account
user = yourmom
token = tokentokentokenbaby
# to use this status reporter (and its login token) for specific repos only,
# set the repo names here (the default, "any", is for all repos)
repos = any
#repos = yourkitteh/mice_reloaded, macrohard/doors


# "job" module configuration, which performs a build via falk.
[job.0]
# invokes a container launch
name = GNU-debian-hurd     # this name is passed to chantal!
description = launch the vm and give me freedom
machine = name-which-the-job-requests-from-falk
# use a different control file for this job.
# default otherwise: use project setting.
#job_desc_file = kevin/hurdbuild

[job.1]
# another job, triggered by the same webhook.
name = whitespaceOS        # this name is also passed to chantal!
description = brainfuck based emulator running haiku
machine = haiku
